@media screen and (max-width: 480px) {
  .modal {
    width: 290px;
  }

  .banner {
    background-color: var(--banner-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-mobile.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-color: var(--banner-background-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-mobile-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-item {
    position: relative;
  }

  .selected::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 44px;
    left: 0px;
    background: #404bbf;
    border-radius: 2px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color var(--std-hover-trans);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--hover);
  }

  .header-address {
    display: flex;
    font-style: normal;
  }

  .address-item:not(:last-child) {
    margin-bottom: 4px;
  }

  .address-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color var(--std-hover-trans);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--hover);
  }

  .mob-menu-btn {
    display: none;
  }

  .banner {
    background-color: var(--banner-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-color: var(--banner-background-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-2x.jpg);
    }
  }

  .banner-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .our-line-list {
    gap: 72px 24px;
  }

  .our-line-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .our-line-title {
    text-align: start;
  }

  .team-list {
    gap: 64px 24px;
  }

  .clients-list {
    gap: 72px 24px;
  }

  .clients-item {
    width: 168px;
    height: 88px;
  }

  .buttons-products {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .buttons-list {
    margin-bottom: 64px;
    justify-content: center;
    gap: 24px;
  }

  .buttons-btn {
    padding: 12px 24px 12px 24px;
  }

  .products-list {
    gap: 72px 24px;
  }

  .products-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .footer-logo-wrap {
    margin-right: 24px;
    align-items: start;
    margin-bottom: 0;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-soc-wrap {
    align-items: start;
    margin-bottom: 0;
  }

  .footer-logo-soc-wrap {
    display: flex;
    margin-bottom: 72px;
  }

  .footer-input-title {
    text-align: start;
  }

  .footer-input-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
    margin-bottom: 0;
  }

  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-address {
    display: flex;
    gap: 40px;
  }

  .address-item:nth-child(1) {
    margin-bottom: 0;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .banner {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .banner-title {
    margin-bottom: 48px;
  }

  .our-line-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .our-line-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .our-line-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .our-line-text {
    font-weight: 400;
  }

  .examples {
    display: flex;
    padding-top: 0px;
  }

  .examples-big-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
    margin-bottom: 72px;
  }

  .examples-list {
    display: flex;
    gap: 24px;
  }

  .examples-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
  }

  .team-list {
    gap: 24px;
  }

  .buttons-products {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .buttons-list {
    margin-bottom: 72px;
  }

  .products-list {
    gap: 48px 24px;
  }

  .products-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wrap {
    display: flex;
  }

  .footer-logo-soc-wrap {
    gap: 120px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .footer-logo-wrap {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team > .container {
    width: 582px;
  }

  .clients > .container {
    width: 582px;
  }

  .footer > .container {
    width: 582px;
  }

  .header {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}
