:root {
  --main-title-color: #ffffff;
  --second-title-color: #2e2f42;
  --hover: #404bbf;
  --hover-footer-soc-icon: #31d0aa;
  --banner-background-color: #2e2f42;
  --footer-background-color: #2e2f42;
  --color-text: #434455;
  --color-products-cover-text: #f4f4fd;
  --color-soc-icon: #f4f4fd;
  --background-color-soc-icon: #4d5ae5;
  --background-color-btn: #4d5ae5;
  --std-hover-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

button {
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/*-----------------------HEADER----------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-second {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  position: relative;
}

.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 44px;
  left: 0px;
  background: #404bbf;
  border-radius: 2px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--std-hover-trans);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover);
}

.header-address {
  font-style: normal;
}

.list-address {
  display: flex;
  gap: 40px;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color var(--std-hover-trans);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover);
}

/*-----------------------BANNER----------------------*/

.banner {
  background-color: var(--banner-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: auto;
}

.banner-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: auto;
  margin-bottom: 48px;
}

.banner-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--background-color-btn);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  transition: background-color var(--std-hover-trans);
}

.banner-btn:hover,
.banner-btn:focus {
  background-color: var(--hover);
}

/*-----------------------OUR-LINE----------------------*/

.our-line-list {
  display: flex;
  gap: 24px;
}

.our-line-item {
  width: calc((100% - 72px) / 4);
}

.our-line-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.our-line-title {
  color: var(--second-title-color);
  margin-bottom: 8px;
}

.our-line-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----------------------EXAMPLES----------------------*/

.examples {
  padding-top: 0px;
}

.examples-big-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
  margin-bottom: 72px;
}

.examples-list {
  display: flex;
  gap: 24px;
}

.examples-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
}

/*-----------------------TEAM----------------------*/

.team {
  background-color: #f4f4fd;
}

.team-big-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-title {
  text-align: center;
  color: var(--second-title-color);
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 32px;
}

.team-item-soc {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background-color-soc-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-soc-icon);
  transition: background-color var(--std-hover-trans);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--hover);
}

.team-soc-icon {
  fill: currentColor;
}

/*--------------------CLIENTS-------------------*/

.clients-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
  margin-bottom: 72px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.clients-item {
  width: 168px;
  height: 88px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color var(--std-hover-trans), border var(--std-hover-trans);
}

.clients-icons {
  fill: currentColor;
}

.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--hover);
  border-color: var(--hover);
}

/*------------------BUTTONS-PRODUCTS-------------------*/

.buttons-products {
  padding-top: 96px;
}

.buttons-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.buttons-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color var(--std-hover-trans),
    color var(--std-hover-trans), box-shadow var(--std-hover-trans),
    border var(--std-hover-trans);
}

.buttons-btn:hover,
.buttons-btn:focus {
  background-color: var(--hover);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--hover);
  border-radius: 4px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.products-item {
  width: calc((100% - 48px) / 3);
}

.products-item-link {
  display: block;
}

.products-item-link:hover > .products-description,
.products-item-link:focus > .products-description {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-top: none;
}

.products-item-link:hover .products-cover-text,
.products-item-link:focus .products-cover-text {
  transform: translate(0);
}

.products-cover-wrap {
  position: relative;
  overflow: hidden;
}

.products-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-products-cover-text);
  background-color: #4d5ae5;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  transform: translateY(100%);
  transition: transform var(--std-hover-trans);
}

.products-description {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.products-title {
  color: var(--second-title-color);
  margin-bottom: 8px;
}

.products-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/*-----------------------FOOTER----------------------*/

.footer {
  background-color: var(--footer-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-wrap {
  display: flex;
}

.footer-logo-wrap {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 17.5px;
}

.footer-logo-second {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-soc-wrap {
  margin-right: auto;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-soc-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-soc-icon);
  transition: background-color var(--std-hover-trans);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--hover-footer-soc-icon);
}

.footer-soc-icon {
  display: flex;
  fill: currentColor;
}

.footer-input-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  outline: transparent;
  background: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  transition: border-color var(--std-hover-trans);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-top: 8px;
  transform: translateY(-6%);
}

.footer-input:focus {
  border-color: #4d5ae5;
}

.footer-input-btn-wrap {
  position: relative;
}

.footer-input-btn {
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--background-color-btn);
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  justify-content: start;
  padding-left: 24px;
  gap: 16px;
  transition: background-color var(--std-hover-trans);
}

.footer-input-btn:focus,
.footer-input-btn:hover {
  background-color: var(--hover);
}

.footer-input-icon {
  fill: #ffffff;
}

/*-------------------BACKDROP/MODAL------------------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 200ms linear, visibility 200ms linear;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms linear;
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(1000px);
}

.modal-btn-close {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #2e2f42;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  transition: background-color var(--std-hover-trans),
    border var(--std-hover-trans), color var(--std-hover-trans);
}

.modal-btn-close-icon {
  fill: currentColor;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: var(--hover);
  border: 1px solid var(--hover);
  border-radius: 50%;
  color: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-margin {
  margin-bottom: 16px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--banner-background-color);
  margin-bottom: 16px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--std-hover-trans);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--std-hover-trans);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  outline: transparent;
  resize: none;
  transition: border-color var(--std-hover-trans);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-accept-wrap {
  margin-bottom: 24px;
}

.modal-check {
  position: absolute;
  opacity: 0;
}

.modal-label-text-accept {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.modal-label-text-accept span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color var(--std-hover-trans),
    border-color var(--std-hover-trans), fill var(--std-hover-trans);
}

.modal-check:checked + .modal-label-text-accept span {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
}

.modal-check:focus + .modal-label-text-accept span {
  border-color: #4d5ae5;
}

.modal-text-accept-link {
  margin-left: 3px;
  color: #4d5ae5;
}

.modal-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--background-color-btn);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  transition: background-color var(--std-hover-trans);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover);
}
